[submodule "Keebio-Parts.pretty"]
	path = Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty.git
[submodule "kicad-parts"]
	path = kicad-parts
	url = https://github.com/louckousse/kicad-parts.git
[submodule "Kicad-Footprints"]
	path = Kicad-Footprints
	url = https://github.com/davidphilipbarr/Kicad-Footprints.git
